<link rel="import" href="../../lib/polymer/polymer.html">

<link rel="import" href="../../lib/paper-checkbox/paper-checkbox.html">

<polymer-element name="baas-user" attributes="user">
<template>
	<style>
		:host {
			display: block;
		}
		h1 {
			margin: 0px;
		}
	</style>

	<div>
		<p>{{user.email}}</p>
		<div>
			<paper-checkbox label="Admin" on-change="{{adminChanged}}" checked?={{user.permissions.admin}}></paper-checkbox>
		</div>
	</div>
</template>
<script>
	(function() {
		Polymer({
			created: function() {
				this.user = {
					permissions: {}
				};
			},

			adminChanged: function(event, details, sender) {
				console.log('details', details);
				this.user.permissions.admin = sender.checked;
				this.fire('user-updated', this.user);
			}
		});
	})();
</script>
</polymer-element>
